.main-section{
    
    @include from (tablet){
        width: 80%;
    }

    @include from (desktop){
        width: 70%;
        
    }

    &__header{
        display: flex;
        align-items: center;
        height: 150px;
        margin: 12px 0px;

        @include from(desktop){
            height: 80px;
        }
    }
    &__form{
        width: 100%;
        margin: 10px 0px;

        @include from(desktop){
            display: flex;
            align-items: center;
        }


        &--label{
            display: block;
            text-align: center;
            @include font-size(20px);
            font-weight: 400;
            margin-bottom: 5px;

            @include from(desktop){
                display: block;
                width: 20%;
                margin: 0;
            }

            
        }
        &--input{
            @include font-size(16px);
            display: block;
            margin: auto auto 7px auto;
            outline: none;
            text-align: center;
            width: 90%;
            height: 30px;

            @include from(tablet){
                width: 60%;
            }

            @include from(desktop){
                display: inline-block;
                width: 20%;
            }
        }
    }
}
.main__userData{


    &--form{
        margin: 10px 0px;

        @include from(desktop){
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &--label{
        display: block;
        text-align: center;
        @include font-size(20px);
        font-weight: 400;
        margin-bottom: 5px;

        @include from(desktop){
            display: inline-block;
            width: 20%;
            margin: 10px 5px;
        }
    }

    &--input{
        @include font-size(16px);
        display: block;
        margin: auto auto 7px auto;
        outline: none;
        text-align: center;
        width: 90%;
        height: 30px;

        @include from(tablet){
            width: 60%;
        }
        
        @include from(desktop){
            display: inline-block;
            width: 25%;
            margin: 10px 0px;
        }
    }
}
.data-revision{

    @include from (tablet){
        width: 80%;
    }

    @include from (desktop){
        width: 70%;
        
    }

    &__options {
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        text-align: center;

        @include from(desktop){
            flex-direction: row;
            justify-content: center;
        }
    }
    &__container{
        @include from(desktop){
            display: inline-block;
            width: 40%;
        }
    }

    &--title {
        font-weight: normal;

        @include from(desktop){
            display: inline;
        }
    }
    &--select{
        text-align: center;
        font-size: 14px;
        padding: 4px;
        outline: none;
        cursor: pointer;

        @include from(tablet){
            width: 40%; 
        }

        @include from(desktop){
            display: inline;
        }
    }
}

.data-machine{



    @include from(desktop){
        margin-top: 30px;
    }

    &--title{
        display: block;
        margin: 10px;
        text-align: center;
        @include font-size(30px)
    }
    &--form{
        margin: 10px 0px;

        @include from(desktop){
            display: flex;
            width: 80%;
            margin: auto;
        }
    }

    &--label{
        display: block;
        text-align: center;
        @include font-size(20px);
        font-weight: 400;
        margin-bottom: 5px;

        @include from(desktop){
            display:inline-block;
            width: 10%;
        }
    }

    &--input{
        @include font-size(16px);
        display: block;
        margin: auto auto 7px auto;
        outline: none;
        text-align: center;
        width: 90%;
        height: 30px;

        @include from(tablet){
            width: 60%;
        }

        @include from(desktop){
            display:inline;
            width: 20%;
        }
    }

}
.precheck{

    @include from(tablet){
        width: 80%;
    }
    @include from(desktop){
        width: 70%;
    }

    &__formats{
        margin: 10px auto;
        display: flex;
        flex-direction: column;

        @include from(tablet){
            width: 80%;
            margin: auto;
            justify-content: space-around;
        }
        @include from(desktop){
            width: 50%;
        }
    }
    &__profile{
        margin: 8px 0px;
        width: 100%;
        border: 1px solid black;
        border-radius: 4px;
        text-align: center;
    }
    &--title{
        display: block;
        padding: 8px;
        background: black;
        color: white;
    }
    &--options div{
        display: flex;
        justify-content: space-between;
        padding: 5px;
        border-bottom: 1px solid black;
    }
    &--options input{
        height: 20px;
        width: 20px;
    }

    &__security{
        width: 100%;
        border: 1px solid black;
        border-radius: 4px;
        text-align: center;
    }
    &--titlebkp{
        display: block;
        padding: 8px;
        background: black;
        color: white;
    }
    &__backup{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding:7px 0px;
    }
    &__backup label{
        margin-bottom: 5px;
    }
    &__backup input{
        width: 80%;
        height: 10%;
        border: none;
        border-bottom: 1px solid grey;
        text-align: center;
        outline: none;
        margin-bottom: 5px;
        font-weight: 300;
    }


}





